body {
	overflow-x: hidden;
	font-family: sans-serif;
	margin: 0% 0%;
	background-color: rgb(255, 255, 255);
}

p {
	margin: 0;
}

.container {
	max-width: 1160px;
	margin: 0 auto;
	position: relative;
	z-index: 5;
}
.background {
	width: 100%;
	background: #A7D4DF;
	position: relative;
	z-index: 4;
}

.background:nth-child(2n) {
	background-color: rgb(255, 255, 255);
}

nav {
	display: flex;
  	justify-content: space-between;
	height: 120px;
}
nav div {
	align-self: center; 
	width: 468px;
	display: flex;
  	justify-content: space-between;
  	align-items: center;
}

.nav_text {
	text-decoration: none;
	color: black;
	font-size: 24px;
	line-height: 29.26px;
	font-weight: 600;
}
#gitaris_container {
	position: relative;
	margin-top: 60px;
}

#gitarist {
	display: inline-block;
}

#info {
	display: inline-block;
	position: absolute;
	right: 0px;
	width: 478.3643798828125px;
	height: 353px;
	z-index: 1;
	transform: translate(0px,120%);
	opacity: 0;
	transition: all 0.8s ease 0s;
}

#info._active{
	transform: translate(0px,0px);
	opacity: 1;
}
.icons {
	width: 279px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}




.circle {
	display: flex;
	align-items: center;
	width: 48px;
	height: 48px;
	border: 2px solid #3885F3;
  	border-radius: 50%;
  	transition-property:border-color;
}
.circle:hover{
	top: 2px;
	border-color: #00CED1;
	}

.circle a {
	margin: auto;
}

#info_text {
	margin-top: 30px;
}

#info_text h1{
	font-size: 72px;
	font-weight: 600;
	line-height: 88px;
	letter-spacing: 0em;
	text-align: left;
	margin: 0;
}

#info_text p{
	width: 70%;
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
	letter-spacing: 0em;
	text-align: left;
	margin: 0;
}

#info_button {
	margin-top: 30px;
	width: 298.72882080078125px;
	height: 80.14131164550781px;
	border-radius: 100px;
	cursor: pointer;
	box-shadow: 0px 4px 4px 0px #00000040;
	background: #ED8C68;
	display: flex;
	align-items: center;
	transition-duration: 1s;
	transition-property: background-color ;

}
#info_button:hover{
	top: 2px;
	background-color: #00CED1;
}

#info_button div {
	font-size: 20px;
	font-weight: 600;
	line-height: 26px;
	letter-spacing: 0em;
	margin: auto;
}

#qestions {
	width: 149.3643798828125px;
	height: 50.08831787109375px;
	position: absolute;
	right: 0px;bottom: 50px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#qestions img {
	margin-right: 15px;
}
#qestions div
{
	font-size: 16px;
	font-weight: 400;
	line-height: 16px;
	letter-spacing: 0em;
	text-align: left;
}

.dec_circle {
	width: 160px;
  	height: 160px;
}

.first_dec1 {
	position: absolute;
	top: 257px;
	left: 890px;
	z-index: 0;
	transform: rotate(-20deg);
}

.background:has(.secound){
	z-index: auto;
}

.secound {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-between;
	height: 725px;
	padding: 60px 0;
}

.secound_1 {
	width: 100%;
	text-align: center;
	font-size: 72px;
	font-weight: 600;
	line-height: 88px;
	letter-spacing: 0em;
}

.secound_2 {
	width: 100%;
	text-align: center;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
}

.secound_2_blocks {
	width: 367px;
	height: 367px;
	display: flex;
	flex-direction: row;
	position: relative;
	border-radius: 20px;
	
	
}
.secound_2_blocks:hover{
	transform: scale3d(1.3, 1.3, 1.3);
}

.secound_2_blocks:nth-child(1){
	background: #5798F5;

}

.secound_2_blocks:nth-child(2){
	background: #ED8C68;
}

.secound_2_blocks:nth-child(3){
	background: #B4E3EF;
}

.secound_2_blocks_text {
	height: 70%;
	padding: 0 0;
	writing-mode: vertical-rl;
	position: absolute;
	right: 10%;
	top: 15%;
	font-size: 36px;
	font-weight: 600;
	line-height: 44px;
	letter-spacing: 0em;
	text-align: center;
}

.secound_3 {
	width: 90%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.secound_3_text {
	width: 620px;
	height: 70px;
	border: 1px;
	font-size: 60px;
	font-weight: 600;
	line-height: 70px;
	letter-spacing: 0em;
	text-align: center;
}

.secound_3_block {
	margin-top: 10px;
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.secound_3_block_blocks {
	height: 91px;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.secound_3_block_blocks_text {
	height: 100%;
	margin-left: 20px;
}

.secound_3_block_blocks_text p:nth-child(1){
	margin: 0;
	font-size: 48px;
	font-weight: 600;
	line-height: 59px;
	letter-spacing: 0em;
}
.secound_3_block_blocks_text p:nth-child(2){
	margin: 0;
	font-size: 18px;
	font-weight: 400;
	line-height: 22px;
	text-align: left;
}

.secound_dec1 {
	position: absolute;
	left: -80px;
	top: 380px;
	transform: rotate(-50deg);
	z-index: -1;
}

.secound_dec2 {
	position: absolute;
	left: 1070px;
	top: 130px;
	transform: rotate(20deg);
	z-index: -1;
}

.third {
	height: 512px;
	padding: 60px 0;
	display: flex;
	justify-content: space-between;
	align-items: stretch;
}

.third_text:nth-child(1) {
	font-size: 90px;
	font-weight: 600;
	line-height: 70px;
	letter-spacing: 0em;
	display: flex;
 	align-items: center;
 	padding-bottom: 8%;
}

.third_text:nth-child(2) {
	width: 620px;
	display: flex;
	flex-direction: column;
	position: relative;
}

.third_text:nth-child(2) p:nth-child(1) {
	font-size: 60px;
	font-weight: 600;
	line-height: 70px;
	letter-spacing: 0em;
	text-align: left;
	margin-bottom: 30px;
}

.third_text:nth-child(2) p:nth-child(2) {
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
	letter-spacing: 0em;
	text-align: left;
}

.third_icons {
	position: absolute;
	bottom: 0;
	left: 0;
}

.third_dec1 {
	position: absolute;
	left: -130px;
	top: 270px;
	transform: rotate(-50deg);
	z-index: -1;
}

.third_dec2 {
	position: absolute;
	right: 63px;
	top: -63px;
	transform: rotate(248deg);
	z-index: -1;
}

.third_dec3 {
	position: absolute;
	left: -40px;
	top: 190px;
	transform: rotate(-50deg);
	z-index: -1;
}

.fourth {
	padding: 60px 200px;
}

.fourth_img {
	position: absolute;
	left: 0;
	top: -150px;
}

.fourth_block {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.fourth_block_text {
	width: 556px;
	font-size: 72px;
	font-weight: 600;
	line-height: 70px;
	letter-spacing: 0em;
	text-align: center;
	margin-bottom: 20px;
}

.fourth_block_button {
	width: 556px;
	height: 89.82px;
	font-size: 36px;
	font-weight: 600;
	line-height: 32px;
	letter-spacing: 0em;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 100px;
	box-shadow: 0px 4px 4px 0px #00000040;
	background: #ED8C68;
	color: white;
	transition-duration: 1s;
	transition-property: background-color,color;
}
.fourth_block_button:hover{
	top: 2px;
	background-color: #00CED1;
	color:#000000;
}

.fifth {
	display: flex;
	flex-direction: column;
	padding: 60px;
}

.fifth_text {
	text-align: center;
	font-size: 72px;
	font-weight: 600;
	line-height: 88px;
	letter-spacing: 0em;
	margin-bottom: 30px;
}

.fifth_block {
	font-size: 72px;
	font-weight: 600;
	line-height: 88px;
	letter-spacing: 0em;
	text-align: left;
	padding: 72px 110px;
	text-align: left;
	background: #D9D9D9;
}

.fifth_dec1 {
	position: absolute;
	left: -18px;
	top: 100px;
	transform: rotate(345deg);
	z-index: -1;
}

.fifth_dec2 {
	position: absolute;
	left: 97px;
	top: 383px;
	transform: rotate(181deg);
	z-index: -1;
}

.fifth_dec3 {
	position: absolute;
	left: 1049px;
	top: 94px;
	transform: rotate(227deg);
	z-index: -1;
}

.sixth {
	display: flex;
	flex-direction: column;
	padding: 60px;
}

.sixth_text {
	text-align: center;
	font-size: 72px;
	font-weight: 600;
	line-height: 88px;
	letter-spacing: 0em;
	margin-bottom: 30px;
}

.sixth_block {
	font-size: 72px;
	font-weight: 600;
	line-height: 88px;
	letter-spacing: 0em;
	text-align: left;
	padding: 72px 110px;
	text-align: left;
	background: #D9D9D9;
}

.sixth_dec1 {
	position: absolute;
	left: -12px;
	top: 319px;
	transform: rotate(345deg);
	z-index: -1;
}

.sixth_dec2 {
	position: absolute;
	left: 1134px;
	top: 188px;
	transform: rotate(28deg);
	z-index: -1;
}

.footer {
	display: flex;
	flex-direction: column;
	padding: 60px;
}

.background:has(.footer){
	background: #8C8E8E;
}

.footer_text {
	text-align: center;
	font-size: 72px;
	font-weight: 600;
	line-height: 88px;
	letter-spacing: 0em;
	margin-bottom: 30px;
}

.footer_block {
	font-size: 30px;
	font-weight: 600;
	line-height: 37px;
	letter-spacing: 0em;
	text-align: left;
	padding: 72px 110px;
	background: #D9D9D9;
}